body {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

html {
  position: relative;
  min-height: 100%;
}

.jumbotron {
  height: 150px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: -50px;
  background-color: blue;
}



.title {
  font-family: "Titillium Web", sans-serif;
  color: white;
  background-clip: url("../images/diamondplate.jpg") ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 200px;
  padding-bottom: 20px;
}




h2 {
  font-size: 20px;
  text-shadow: 1px 1px black;
  display: inline-block;
}

.navbar {
  margin: 0;
}



#navbar-link {
  color: #fff;
}
.navbar-custom {
  background-color: black;
  overflow: hidden;
}




.federated-icon {
  float: right;
  height: 75px;
  width: 150px;
  padding-right: 40px;
}

#links {
  font-family: 'Khand', sans-serif;
  font-weight: lighter;
  display: inline-block;
  position: center;
  padding-left: 40px;
}

#link {
  display: inline-block;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
}




.wrapper {
  background-color: rgb(175, 190, 238);
  padding: 115px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.about-us-header {
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 32px;
  font-weight: bold;
  color:black;
}

.about-us-content {
  width: 100%;
  padding: 30px;
  margin-top: 32px;
  background: url("../images/concrete_seamless.png");
  border-radius: 25px;
}

.about-us-content > p {
  padding-top: 20px;
  font-size: 16px;
  line-height: 30px;
  color: black;
}

.container {
  height: 100%;
  padding-bottom: 50px;
}

#auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}
#test-image {
  width: 400px;
}
#program-image {
  float: left;
  width: 350px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

#skills-area-index {
  width: 66%;
  padding: 45px 10px 25px 31px;
  background-color: rgb(77, 74, 74);
  margin-left: 50px;
  border-radius: 25px;
  margin-top: 50px;
  color: whitesmoke;
}

#skills-area-portfolio {
  width: 75%;
  padding: 45px 10px 25px 31px;
  margin-top: 100px;
  background-color: rgb(77, 74, 74);
  margin-left: 200px;
  border-radius: 25px;
  color: whitesmoke
}

#skills-area-contact {
  width: 100%;
  padding: 45px 10px 25px 31px;
  margin-top: 100px;
  background-color: rgb(77, 74, 74);
  margin-left: 200px;
  border-radius: 25px;
  color: whitesmoke
}



.skills-header {
  margin-bottom: 15px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
  font-weight: bold;
  color: whitesmoke;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 30px;
  background-color: black;
  margin-bottom: -1px;
}

.text-muted-footer {
  margin-top: 15px;
  color: #fff;
}

.two-toned-footer-color {
  height: 6px;
  padding-top: 3px;
  background-color: black;
}






.container {
  height: 100%;
  margin: auto;
}



@media only screen and (max-width: 767px) {

  h1 {
  font-size: 50px;
  }

  h2 {
  font-size: 20px;
  text-shadow: 1px 1px black;
  display: inline-block;
  }

  #name-plate {
  margin: auto;
  width: 50%;
  margin-right: 200px;
  text-align: center;
  font-family: 'Prata', serif;
  color: whitesmoke;
  text-shadow: 4px 4px black;
  }

  .navbar-header {
    background-color: black;
  }

  #logo {

    padding-left: 125px;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background: black;
  }

  #icons {
    text-align: center;
    margin-bottom: 10px;
    padding-left: 165px;
  }

  #links {
    text-align: center;
    margin-bottom: 10px;
    padding-right: 150px;
  }

  .portfolio-resume {
  height: 100%;
  width: 100%;
  margin: 0;
  margin-top: 100px;
  }

  #skills-area-portfolio {
  width: 75%;
  padding: 45px 10px 25px 31px;
  background-color: rgb(77, 74, 74);
  margin: 0;
  border-radius: 25px;
  color: whitesmoke;
  margin-top: 50px;
  margin-left: 50px;
}

}

